<% if notice %>
<div class="alert alert-success" role="alert">
  <%= notice %>
</div>
<% end %>

<% if alert %>
<div class="alert alert-danger" role="alert">
  <%= alert %>
</div>
<% end %>

<div class="m-4 text-center">
  <h2>Title of this gossip: <%= @gossip.title%></h2>
  <p>Content: <%= @gossip.content%></p>
  <p>Written with ❤️ by <%= @gossip.user.first_name%> <%= @gossip.user.last_name%> from <%= @gossip.user.city.name%></br>➡️ <%= link_to "See this user", user_path(@gossip.user.id)%></p>
  <p>Check out all the gossips from <%= link_to @gossip.user.city.name, city_path(@gossip.user.city.id), :class => "new-link"%></p>
  <%= link_to "Edit gossip", edit_gossip_path(@gossip.id), :class => "btn btn-outline-success mx-4" %>
  <%= link_to "Delete", gossip_path(@gossip.id), :method => "delete", :class => "btn btn-outline-danger mx-4", :data => {:confirm => "Are you sure about that 😬?"} %>
</div>


<hr/>

<%= render partial: 'gossips/form' %>
<h4 class=m-5>Comments (<%= @gossip.comments.count%>)</h4>
<%= render partial: 'gossips/comment', collection: @gossip.comments.reverse %>


