
<div class="container m-5">
<div class="text-center">
  <h1>Title of this gossip: <%= @gossip.title%></h1>
  <p>Content: <%= @gossip.content%></p>
  <p>Written with love by <%= @gossip.user.first_name%> <%= @gossip.user.last_name%> ➡️ <%= link_to "See this user", user_path(@gossip.user.id)%></p>
  <p>Created: <%= @gossip.created_at%></p>    
</div>

</div>