

<div class="m-5 text-center">
  <h2><%= @city.name%></h2>
  <img class="img-fluid img-goss my-5" src="http://lorempixel.com/800/400/city/">
  <% @city_posts.each do |user| %>
    <div class="m-5">
      <h5 class='m-3'><%= user.first_name%> <%= user.last_name%> wrote the following gossip(s):</h5>
        <% user.gossips.each do |gossip|%>
          <div class="card gossip-card m-3" style="width: auto">
            <div class="card-body">
              <h5 class="card-title"><%= link_to gossip.title, gossip_path(gossip.id), :class => "new-link"%></h5>
              <p class="card-text">Content : <%= gossip.content%></p>
            </div>
          </div>
        <% end %>
    </div>
  <% end %>
</div>
