<!doctype html>

<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  
    <title>The Gossip Project</title>

    <!-- Core Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  
    <!-- Custom style for this template -->
    <%= stylesheet_link_tag 'application', media: 'all' %>

    <!-- Core JS -->
    <%= javascript_pack_tag 'application' %>

    <%= favicon_link_tag asset_path('favicon-32x32.png') %>

    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous"></script>
  </head>

  
  <body>
  
      <!-- Header -->
      <nav class="navbar navbar-light bg-light static-top">

          <div class="brand">
            <%= link_to image_tag('favicon-32x32.png', :alt => 'logo', class:"navbar-brand"), root_path  %>
            <a class="navbar-brand align-top">The Gossip Project</a>
          </div>

          <div class="nav-items d-flex">
            <%= link_to "Team", gossip_project_team_path, class:"nav-link" %>
            <%= link_to "Contact", gossip_project_contact_path, class:"nav-link" %>
          </div>

          <ul class="navbar-nav ml-auto">
          <% if logged_in? %> 
            <li class="nav-item">
              <%= link_to "Log out", session_path(session.id), method: :delete, :class => "nav-item nav-link" %>
            </li>
          <% else %>
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Login
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <%= link_to "Log in", new_session_path, :class => "dropdown-item" %>
                <%= link_to "Sign up", new_user_path, :class => "dropdown-item" %>
              </div>
            </div>
          <% end %>
          
        </ul>
    
      </nav>

      <%= yield %>

      <!-- Footer -->
      <footer class="footer bg-light">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 h-100 text-center text-lg-left">
              <ul class="list-inline my-2">
                <li class="list-inline-item">
                  <a href="<%= gossip_project_team_path %>">About</a>
                </li>
                <li class="list-inline-item">&sdot;</li>
                <li class="list-inline-item">
                  <a href="<%= gossip_project_contact_path %>">Contact</a>
                </li>
                <li class="list-inline-item">&sdot;</li>
                <li class="list-inline-item">
                  <a href="<%= gossip_project_terms_path %>">Terms of Use</a>
                </li>
                <li class="list-inline-item">&sdot;</li>
                <li class="list-inline-item">
                  <a href="<%= gossip_project_privacy_path %>">Privacy</a>
                </li>
              </ul>
              <p class="text-muted small my-2">&copy; The Gossip Project 2020. All Rights Reserved.</p>
            </div>
            <div class="col-lg-6 text-center text-lg-right">
              <ul class="list-inline mb-2">
                <li class="list-inline-item mr-3">
                  <a href="#">
                    <i class="fab fa-facebook fa-2x fa-fw"></i>
                  </a>
                </li>
                <li class="list-inline-item mr-3">
                  <a href="#">
                    <i class="fab fa-twitter-square fa-2x fa-fw"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="#">
                    <i class="fab fa-instagram fa-2x fa-fw"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </footer>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
  </body>

</html>

